* {
  padding: 0;
  margin: 0;
}
:root {
  --bgcolor: rgb(245, 188, 174);
  --txtcolor: rgb(5, 73, 78);
}
.navbar {
  margin-left: 30%;
}
ul {
  list-style: none;
  display: flex;
}
ul li {
  padding: 40px;
  background-color: var(--bgcolor);
  color: var(--txtcolor);
}
